@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply bg-gray-50 text-gray-900;
  }
}
@layer components {
  /* Custom components here */
}
@layer utilities {
  /* Custom utilities here */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
